# Streamlit Secrets (Mandatory)
.streamlit/secrets.toml

# Python Virtual Environments
venv/
.venv/
env/
__pycache__/
*.pyc

# Local Data Storage
# Prevents uploading massive patient logs or raw CSV data to GitHub
data/
*.csv
*.xlsx
*.sas7bdat

# OS-specific clutter
.DS_Store
Thumbs.db
